.header {
    background: url(../images/background/section-1\(header\).jpg)
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}
.logo{
    position: relative;

}
.logo h1 {
    position: absolute;
    font-size: 40px;
    top: 15px;
    left:15px;
    color: white
}
.green-text {
    color: #18cfab
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.nav{
     background-color: rgba(0,0,0,0.5);
}
.nav-logo{
    display: flex;
    align-items: center
}
.nav-logo-text {
    margin-left: 5px;
    font-size: 26px;
    color:white;
}
.nav-menu {
    align-self: stretch;
}
.nav-menu li{
    line-height: 7.5;
float: left;
margin-left: 10px;
color: #b8b8b8;
text-transform: uppercase;
cursor: pointer;
}
.nav-menu li:hover {
    border-bottom: 3px solid #18cfab
}
.creative {
    margin-top: 240px;
    text-align: center;
    padding-bottom:240px
}
.creative h4 {
font-size: 35px;
color: white;
margin-bottom: 45px;
}
.creative h1 {
    font-size: 70px;
    margin-bottom: 35px;
    color:white
}
.small {
    font-size: 30px;
    color: #d4d4d4;
    margin-bottom: 140px
}

.btn {
    width: 165px;
    height: 60px;
    border-radius: 5px;
    color: white;
    background-color: #00cbf6;
    cursor: pointer;
}
.background-green{
    background-color: #18cfab
}
.background-dark-blue {
    background-color: #1c2a33
}

.border-top-white {
    border-top:4px solid white
}
.options{
    display: flex
}
.color-white {
    color: white
}

.option-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 370px
}
.option-item img {
    margin-bottom: 48px
}
.option-item p {
    text-transform: uppercase;
    font-size: 20px
}
.header-text {
    text-align: center
}
.header-text-title {
    font-size: 36px;
    margin-top: 80px;
    
}
.header-text-title::after {
    margin: 0 auto;
    margin-top: 35px;
    content: " ";
    display: block;
    width: 75px;
    height: 10px;
    transform: skew(50deg,0);
    border-top:1px solid #18cfab;
    border-bottom:1px solid #18cfab;
}
.service {
    padding-bottom:100px
}
.design-options  {
    display: flex;
    margin-top: 70px;
    margin-bottom: 24px; 
      background-color: #f8fcfe;
}
.design-toogle{
    background-color: #18cfab;
    color:white
}
.design-toogle::after{
    content: " ";
    position:absolute ;
    bottom:-9px;
    width: 0;
    height: 0; 
    border-style: solid; 
    border-width: 10px 10px 0 10px;
    border-color: #18cfab transparent transparent transparent;
}
.design-options li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border:1px solid #ebecec;
 
    position: relative;
    cursor: pointer;
    border-left: none
}

.design-options li:hover {
    background-color: #18cfab;
    color:white
}
.design-text {
    display: flex;
    
}

.design-text p {
    text-align: justify;
    margin-left: 20px;
    font-size: 14px;
    line-height: 2
}
.hidden{
    display: none;
}
.purchase-sect{
    background: url(../images/background/section-2.jpg);
    background-position: center
}
.purchase{
    margin-top:100px;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 128px 0;
}
.purchase-title {
    font-size:40px;
    text-transform: uppercase;
    margin-bottom: 35px;

}
.purchase-muted{
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 76px
}
.amazing-work-options-parent{
    margin:70px 0;
    
}
.amazing-work-options {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.amazing-work-options li {
padding: 30px 25px;
border: 1px solid #ebebeb;
font-size:14px;
cursor: pointer;

}
.amazing-work-options li:hover{
    color: #18cfab;
    border-top:4px solid #18cfab
}
.amazing-work-images {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 70px
}
.amazing-work-images-item:hover .image-hover{
    display: flex
}
.amazing-work-images-item{
    position: relative;
}
.image-hover {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.image-hover h3 {
margin-top: 30px;
margin-bottom: 15px;
font-size: 24px
}
.image-hover p {
    color:#a7a8a9;
    font-size: 20px;
}
.image-hover-icons i {
padding: 20px;
border:1px solid #18cfab;
border-radius: 50%
} 
.load-more{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.load-more span {
    font-size: 18px
}
.web,.wordpress,.landing-page {
    display: none;
}
.option-style {
    border-top:4px solid #18cfab !important;
    color:#18cfab
}